{% load static %}

<header class="main-header-container">
    <div class="nav-header-main">
        <a href="#"><img class="img-logo" src="{% static 'img/vibank-logo.png' %}"></a>

        <div class="links-header-main">
            <a class="lk-cartões" href="cartões">Cartões</a>
            <a class="lk-pj-mei" href="pjemei">Pj e MEI</a>
            <a class="lk-pf" href="pessoafisica">Pessoa Física</a>
        </div>

        <button class="btn-peça-cartão">
            <a href="contas">Abrir minha conta</a>
        </button>      
</header>