{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static "vibank/css/styles.css" %}">

    <title>Vibank</title>
</head>
<body>
    <header class="main-header-container">

        <div class="logo-vibank">
            <h1>Aqui vai ser a logo IMG</h1>
        </div>

        <div class="navbar">
            <button class="btn-peça-cartão">
                <a href="contas">Peça seu cartão</a>
            </button>
            
            <button class="btn-contato">
                <a href="contato">Contato</a>
            </button>
        </div>
    </header>
</body>
</html>

